name: Java api App CI/CD

on:
  pull_request:
    branches:
        - main
        - dev
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  
  ARTIFACTORY_URL: ${{ secrets.ARTIFACT_URL }}
  JFROG_REPO_NAME: utc-app
  JFROG_DOCKER_REPO: utc-app
  JFROG_USERNAME: ${{ secrets.JFROG_USERNAME }}
  JFROG_PASSWORD: ${{ secrets.JFROG_PASSWORD }}
  SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_ROLE: ${{ secrets.ECR_ACCESS_ROLE }}
  ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_ARN }}
  VAULT_URL: ${{ secrets.VAULT_URL }}
  VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}

  # Image Name
  IMAGE_NAME: utc_app2


    # Build & Sonar (always run)

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build
        run: mvn -B clean verify

      - name: SonarQube Scan
        env:
           SONAR_TOKEN: ${{ env.SONAR_TOKEN }}
           SONAR_HOST_URL: ${{ env.SONAR_HOST_URL }}
        run: |
           mvn org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
             -Dsonar.projectKey=utc_app \
             -Dsonar.projectName=utc_app \
             -Dsonar.host.url=${SONAR_HOST_URL} \
             -Dsonar.login=${SONAR_TOKEN}

              
#     Build JAR

# Uncomment this job if you want JAR deployment
# build:
#   runs-on: ubuntu-latest
#   needs: sonar
#   steps:
#     - uses: actions/checkout@v4
#       with:
#         fetch-depth: 0
#     - name: Set up JDK 17
#       uses: actions/setup-java@v3
#       with:
#         distribution: 'temurin'
#         java-version: 17
#         cache: maven
#     - name: Package with Maven
#       run: mvn -B clean package
#     - name: Upload JAR file
#       uses: actions/upload-artifact@v4
#       with:
#         name: utc_app-jar
#         path: target/*.jar


               # Deploy JAR to JFrog (non-containerized)

# Uncomment this job if you want JAR deployment
# deploy_jfrog:
#   runs-on: ubuntu-latest
#   needs: build
#   steps:
#     - name: Checkout Code
#       uses: actions/checkout@v4
#       with:
#         fetch-depth: 0
#     - name: Download JAR file artifact
#       uses: actions/download-artifact@v4
#       with:
#         name: utc_app-jar
#         path: target/
#     - name: Read secrets from Vault
#       uses: hashicorp/vault-action@v2
#       with:
#         url: ${{ secrets.VAULT_URL }}
#         method: token
#         token: ${{ secrets.VAULT_TOKEN }}
#         exportEnv: true
#         secrets: |
#           secrets/creds/jfrog username | MAVEN_USERNAME_A ;
#           secrets/creds/jfrog password | MAVEN_PASSWORD_A
#     - name: Push to JFrog
#       env:
#         MAVEN_USERNAME_A: ${{ env.MAVEN_USERNAME_A }}
#         MAVEN_PASSWORD_A: ${{ env.MAVEN_PASSWORD_A }}
#       run: |
#         APP_VERSION=$(grep -m2 '<version>' pom.xml | tail -1 | grep -oP '(?<=>).*(?=<)')
#         APP_NAME=$(grep -m2 '<artifactId>' pom.xml | tail -1 | grep -oP '(?<=>).*(?=<)')
#         APP_LONG_NAME=$APP_NAME-$APP_VERSION.jar
#         echo "Deploying $APP_LONG_NAME to Artifactory..."
#         curl -v --user $MAVEN_USERNAME_A:$MAVEN_PASSWORD_A \
#           -T target/$APP_LONG_NAME \
#           -X PUT "$ARTIFACTORY_URL/artifactory/$JFROG_REPO_NAME/$APP_LONG_NAME"


                  # Docker Build, Trivy Scan & Push

# Uncomment this job if you want containerized deployment
  docker:
     name: Build, Scan & Push Docker Image
     runs-on: ubuntu-latest
     needs: sonar
     steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Download JAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: utc_app-jar
          path: target/
      - name: Docker Login to JFrog
        run: |
          echo "$JFROG_PASSWORD" | docker login $ARTIFACTORY_URL -u "$JFROG_USERNAME" --password-stdin
      - name: Build Docker Image
        run: docker build -t $IMAGE_NAME:${{ github.sha }} .
      - name: Scan Docker Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: $IMAGE_NAME:${{ github.sha }}
          format: table
          exit-code: 1
          severity: CRITICAL,HIGH
      - name: Tag Docker Image
        run: docker tag $IMAGE_NAME:${{ github.sha }} $ARTIFACTORY_URL/$JFROG_DOCKER_REPO/$IMAGE_NAME:${{ github.sha }}
      - name: Push Docker Image
        run: docker push $ARTIFACTORY_URL/$JFROG_DOCKER_REPO/$IMAGE_NAME:${{ github.sha }}